<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>startPoints</key>
        <array>
            <string>{20,0}</string>
            <string>{20,10}</string>
            <string>{30,10}</string>
            <string>{30,20}</string>
            <string>{20,20}</string>
            <string>{20,30}</string>
            <string>{10,30}</string>
            <string>{10,20}</string>
            <string>{0,20}</string>
            <string>{0,10}</string>
            <string>{10,10}</string>
            <string>{10,0}</string>
            <string>{25,0}</string>
            <string>{40,15}</string>
            <string>{25,30}</string>
            <string>{35,30}</string>
            <string>{45,20}</string>
            <string>{55,30}</string>
            <string>{65,30}</string>
            <string>{50,15}</string>
            <string>{65,0}</string>
            <string>{55,0}</string>
            <string>{45,10}</string>
            <string>{35,0}</string>
        </array>
        <key>endPoints</key>
        <array>
            <string>{20,10}</string>
            <string>{30,10}</string>
            <string>{30,20}</string>
            <string>{20,20}</string>
            <string>{20,30}</string>
            <string>{10,30}</string>
            <string>{10,20}</string>
            <string>{0,20}</string>
            <string>{0,10}</string>
            <string>{10,10}</string>
            <string>{10,0}</string>
            <string>{20,0}</string>
            <string>{40,15}</string>
            <string>{25,30}</string>
            <string>{35,30}</string>
            <string>{45,20}</string>
            <string>{55,30}</string>
            <string>{65,30}</string>
            <string>{50,15}</string>
            <string>{65,0}</string>
            <string>{55,0}</string>
            <string>{45,10}</string>
            <string>{35,0}</string>
            <string>{25,0}</string>
        </array>
    </dict>
</plist>